:root {
  --black: #1C1C1E;
  --gray: #3A3A3C;
  --light-gray: #636366;
  --white: #F2F2F7;
  --turqoise: #0891B2;
}

html {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 16px;
  color: var(--gray);
}

h1, h2, figcaption {
  font-family: "Playfair Display", serif;
  color: var(--black);
  letter-spacing: 0.1ex;
}

/* Header */
header {
  background-image: linear-gradient(170deg, var(--turqoise) 64%, rgba(0, 0, 0, 0.3) 64%, rgba(255, 255, 255, 0) 64.5%);
  padding: 48px 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 0;
  position: relative;
}

figure img {
  box-shadow: 2px 2px 8px 0 var(--light-gray);
}

figcaption {
  color: var(--white);
  font-weight: 600;
  font-size: 2.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5%;
}

.about {
  background-color: var(--white);
  padding: 36px 24px;
  box-shadow: 2px 2px 8px 0 var(--light-gray);
}

.about h1 {
  margin: 0 0 24px;
}

.about p {
  line-height: 1.5;
}

.about-icons {
  margin-top: 24px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}