:root {
    --light-pink: #FFF5F3;
    --pink: #FE8A7D;
    --dark-pink: #C1564C;
    --gray: #8E8E8E;
    --black: #0A0A0A;
    --white: #F7F7F7;
    --serif-font: "Playfair Display", Georgia, serif;
}

html {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--light-pink);
}

/* Header */
h2 {
    font-size: 1.875rem;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 160px;
}

header h2 {
    font-family: var(--serif-font);
    margin: 32px 0 48px;
}

.dark-pink {
    color: var(--dark-pink);
}

nav {
    justify-self: center;
    display: flex;
    gap: 64px;
}

nav button {
    border: none;
    background-color: transparent;
    color: var(--gray);
    font-size: 1rem;
    cursor: pointer;
}

nav button:hover {
    color: var(--dark-pink);
}

nav button::after {
    content: '';
    height: 0.25rem;
    margin-top: 0.125rem;
    border-radius: 0.5rem;
    display: block;
}

.active {
    color: var(--black);
}

.active::after {
    background-color: var(--dark-pink);
}

/* Home Styling */
.hero {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 0 160px;
    align-items: center;
    margin-bottom: 48px;
}

.texts h1, .texts p {
    line-height: 1.5;
}

.texts p {
    color: var(--gray);
    margin: 32px 0;
}

.hero img {
    justify-self: right;
    width: 75%;
    height: auto;
}

.action-buttons {
    display: flex;
    gap: 32px;
    font-size: 1.25rem;
    font-weight: 700;
}

.action-buttons button {
    padding: 12px 36px;
    border-radius: 32px;
    cursor: pointer;
}

.action-buttons button:hover {
    filter: brightness(0.9);
}

.primary-btn {
    background-color: var(--pink);
    color: var(--white);
    border: none;
}

.secondary-btn {
    background-color: transparent;
    color: var(--pink);
    border: 2px solid var(--pink);
}

.review {
    background-color: #FFFFFF;
    padding: 32px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
}

.review-aspect h2 {
    color: var(--dark-pink);
    margin: 0;
}

.review-aspect p {
    color: var(--gray);
    margin: 1rem 0 0;
}

/* Menu Page */
.menu-heading {
    text-align: center;
    padding: 0 160px;
    margin-bottom: 32px;
}

.menu-heading h1 {
    margin: 0;
    font-family: var(--serif-font);
    font-size: 1.875rem;
    color: var(--dark-pink);
}

.menu-heading p {
    color: var(--gray);
    line-height: 1.15;
    margin: 24px 0 0;
}

.menu-grid {
    padding: 0 160px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}

.card {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 8px 8px 12px -8px var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.card-text {
    flex: 1;
}

.card-text h2 {
    font-family: var(--serif-font);
    font-size: 1.5rem;
    color: var(--pink);
    margin: 24px 0 0;
}

.card-text p {
    margin: 16px 0 24px;
}

.card button {
    background-color: inherit;
    color: var(--dark-pink);
    cursor: pointer;
    border: 1px solid var(--dark-pink);
    border-radius: 2rem;
    padding: 0.8rem 2.4rem;
}

.card button:hover {
    filter: brightness(0.9);
}

/* About Page */
.summary {
    text-align: center;
    padding: 0 160px;
    margin-bottom: 48px;
}

.summary svg {
    width: 20vh;
    height: auto;
    color: var(--dark-pink);
}

.summary h1 {
    font-family: var(--serif-font);
    font-size: 1.875rem;
    margin: 32px 0 24px;
}

.summary p {
    color: var(--gray);
    line-height: 1.25;
    margin: 0;
}

.journey {
    background-color: #FFFFFF;
    padding: 32px 160px;
    text-align: center;
}

.journey h2 {
    font-family: var(--serif-font);
    font-size: 1.5rem;
    margin: 0;
}

.journey p {
    text-indent: 4rem;
    text-align: justify;
    line-height: 1.25;
    margin: 16px 0;
}

.journey p:first-of-type {
    margin-top: 24px;
}

.journey p:last-of-type {
    margin-bottom: 24px;
}

/* Footer */
footer {
    padding: 16px 0;
    text-align: center;
    font-weight: 550;
}

footer a {
    color: var(--black);
    text-decoration: none;
}