:root {
    --dark-blue: #232C46;
    --lighter-blue: #3F4E6B;
    --neon-green: #78BC35;
    --light-pink: #FF9B8D;
    --white: #F7F7F7;
    --black: #0A0A0A;
    --shadow: #7B808F;
}

html {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 16px;
    color: var(--white);
}

body {
    background-color: var(--dark-blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

svg g {
    color: var(--neon-green);
}

svg circle {
    color: var(--light-pink)
}

/* New Game Dialog */
.default-font {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: normal;
}

#new-game {
    background-color: var(--white);
    color: var(--black);
    margin-top: 32px;
    padding: 48px 32px;
    border-radius: 8px;
    text-align: center;
}

#new-game h1 {
    margin-top: 0;
}

#new-game p:not(:first-of-type) {
    font-style: italic;
}

::backdrop {
    background-color: var(--black);
    opacity: 0.3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

fieldset {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

input[type="radio"] {
    display: none;
}

label {
    background-color: var(--dark-blue);
    opacity: 0.5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 4px -2px var(--shadow);
}

label:has(input:checked) {
    opacity: 1;
}

label svg {
    height: 3rem;
    width: 3rem;
}

#name-input {
    border-radius: 8px;
    border: 1px solid var(--shadow);
    padding: 8px;
}

#name-input:focus {
    outline-color: var(--dark-blue);
}

::placeholder {
    font-style: italic;
}

button {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--lighter-blue);
    box-shadow: 0px 4px 4px -2px var(--shadow);
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}

/* Header */
h1 {
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    font-style: italic;
    letter-spacing: 0.25ch;
    margin: 32px 0 0;
}

.green {
    color: var(--neon-green);
}

.pink {
    color: var(--light-pink);
}

/* Content */
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.content h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

#game-board {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    gap: 64px;
}

/* Tic Tac Toe Squares */
.board {
    background-color: var(--lighter-blue);
    border-radius: 16px;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}

.square {
    background-color: var(--dark-blue);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.enable {
    cursor: pointer;
}

.square.enable:hover {
    opacity: 0.8;
}

.square svg {
    box-sizing: border-box;
    width: 70%;
    height: 70%;
}

/* Player box */
.player-box {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-box svg {
    width: 2.5rem;
    height: 2.5rem;
}

/* Footer */
.footer {
    width: 100%;
    background-color: var(--lighter-blue);
    text-align: center;
}

.footer a {
    color: var(--white);
    text-decoration: none;
}