:root {
  --black: #0a0a0a;
  --light-gray: #e5e5ea;
  --medium-gray: #d1d1d6;
  --dark-gray: #8e8e93;
  --red: #ff3b30;
}

html {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 16px;
  color: var(--black);
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  height: 100vh;
  justify-content: space-between;
}

/* Header */
header {
  text-align: center;
}

h1 {
  font-size: 2.125em;
  margin: 32px 0 16px;
}

p {
  font-size: 1em;
}

.gray {
  color: var(--dark-gray);
}

button {
  width: 35%;
  font-style: italic;
  background-color: #ffffff;
  padding: 8px 24px;
  border: 1px solid var(--dark-gray);
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-gray);
}

.dropdown {
  position: relative;
}

.dropdown-items {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

ul {
  list-style-type: none;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  border-radius: 0 0 8px 8px;
}

li {
  font-style: italic;
  padding: 8px 24px;
  cursor: pointer;
}

li:hover {
  background-color: var(--light-gray);
  border-radius: 8px;
}

.hidden {
  display: none;
}

/* Content */
#carousel {
  flex: 1;
  justify-content: center;
  gap: 16px;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

img {
  width: 600px;
  height: 250px;
  background: url("../img/background.jpg");
  background-size: contain;
  object-fit: contain;
  padding: 32px;
  border: 1px solid var(--dark-gray);
  border-radius: 16px;
}

.img-focus {
  position: relative;
}

.img-prev,
.img-next {
  width: 500px;
  height: 208px;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.img-prev {
  right: 60%;
  transform: translateY(21px);
}

.img-next {
  left: 60%;
  transform: translateY(21px);
}

svg {
  color: var(--medium-gray);
  width: 24px;
  height: 24px;
}

svg:not(.active):hover {
  color: var(--red);
  opacity: 0.5;
  cursor: pointer;
}

.circle-btn {
  width: 8px;
  height: 8px;
}

.active {
  color: var(--red);
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  background-color: var(--light-gray);
}

a {
  color: var(--black);
  text-decoration: none;
}
